<p id="notice"><%= notice %></p>

<h1>Ata</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descricao</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atas.each do |ata| %>
      <tr>
        <td><%= ata.codigo %></td>
        <td><%= ata.descricao %></td>
        <td><%= ata.autor %></td>
        <td><%= link_to 'Visualizar', reuniao_ata_path(ata.reuniao,ata), :class => "glyphicon glyphicon-file" %></td>


      </tr>
    <% end %>
  </tbody>
</table>

    <%= link_to 'Criar Ata', new_reuniao_ata_path(@reuniao.id) %> <br>

<br>


