<%= form_for(reuniao) do |f| %>
  <% if reuniao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reuniao.errors.count, "error") %> prohibited this reuniao from being saved:</h2>

      <ul>
      <% reuniao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %>
    <%= f.text_field :codigo %>
  </div>

  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_field :descricao %>
  </div>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>

  <div class="field">
    <%= f.label :hora %>
    <%= f.text_field :hora %>
  </div>

  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>

  <div class="field">
    <%= f.label :convidados %>
    <%= f.text_field :convidados %>
  </div>

  <div class="field">
    <%= f.label :imagem %>
    <%= f.text_field :imagem %>
  </div>

  <div class="field">
    <%= f.label :observacoes %>
    <%= f.text_field :observacoes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
