<p id="notice"><%= notice %></p>

<h1>Reunião</h1>
<p>
  <strong>Codigo:</strong>
  <%= @reuniao.codigo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @reuniao.descricao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @reuniao.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @reuniao.hora %>
</p>

<p>
  <strong>Local:</strong>
  <%= @reuniao.local %>
</p>

<p>
  <strong>Coordenador:</strong>
  <%= @reuniao.coordreuniao.nome %>
</p>

<p>
  <strong>Convidados:</strong>
  <%= @reuniao.convidados %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @reuniao.observacoes %>
</p>

<%= link_to 'Voltar', reunioes_path , :class => "glyphicon glyphicon-arrow-left" %>
<%= link_to 'Editar', edit_reuniao_path(@reuniao), :class => "glyphicon glyphicon-pencil" %>
<td><%= link_to 'Excluir', @reuniao, method: :delete, data: { confirm: 'Tem certeza que deseja excluir a reunião?' }, :class => "glyphicon glyphicon-trash"%></td>


  <%= render :template => 'pautas/index'%>
  <%= render :template => 'atas/index'%>




