<%= form_for(coordreuniao) do |f| %>
  <% if coordreuniao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coordreuniao.errors.count, "error") %> prohibited this coordreuniao from being saved:</h2>

      <ul>
      <% coordreuniao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :foto, "Foto:" %>
    <%= image_tag @coordreuniao.foto_url, class: 'foto' if @coordreuniao.foto? %>
    <%= f.file_field :foto, label: 'Foto' , input_html: {accept: ('application/jpg') } %>
  <br/>
  </div>

  <div class="field">
    <%= f.label :matricula, "Matrícula:" %>
    <%= f.text_field :matricula %>
  </div>

  <div class="field">
    <%= f.label :nome, "Nome do Coordenador:" %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :funcao, "Função do Coordenador:" %>
    <%= f.text_field :funcao %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", :class => "btn btn-default" %>
  </div>
<% end %>
