<p id="notice"><%= notice %></p>

<h1>Coordreunioes</h1>

<table>
  <thead>
    <tr>
      <th>Matricula</th>
      <th>Nome</th>
      <th>Funcao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coordreunioes.each do |coordreuniao| %>
      <tr>
        <td><%= coordreuniao.matricula %></td>
        <td><%= coordreuniao.nome %></td>
        <td><%= coordreuniao.funcao %></td>
        <td><%= link_to 'Show', coordreuniao %></td>
        <td><%= link_to 'Edit', edit_coordreuniao_path(coordreuniao) %></td>
        <td><%= link_to 'Destroy', coordreuniao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coordreuniao', new_coordreuniao_path %>
