<p id="notice"><%= notice %></p>

<p>
  <strong>Matricula:</strong>
  <%= @coordreuniao.matricula %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @coordreuniao.nome %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @coordreuniao.funcao %>
</p>

<%= link_to 'Edit', edit_coordreuniao_path(@coordreuniao) %> |
<%= link_to 'Back', coordreunioes_path %>
