<%= form_for([@reuniao, @pauta]) do |f| %>
  <% if @pauta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pauta.errors.count, "error") %> prohibited this pauta from being saved:</h2>

      <ul>
      <% @pauta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo, "Código da Pauta" %>
    <%= f.text_field :codigo, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :descricao, "Descrição:" %>
    <%= f.text_field :descricao %>
  </div>

  <div class="field">
    <%= f.label :autor, "Autor da Pauta:" %>
    <%= f.text_field :autor %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", :class => "btn btn-default" %>
  </div>
<% end %>
