<p id="notice"><%= notice %></p>

<h1>Pauta</h1>



<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descricao</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pautas.each do |pauta| %>

      <tr>
        <td><%= pauta.codigo %></td>
        <td><%= pauta.descricao %></td>
        <td><%= pauta.autor %></td>

        <td><%= link_to 'Visualizar', reuniao_pauta_path(pauta.reuniao,pauta), :class => "glyphicon glyphicon-file" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

    <%= link_to 'Criar Pauta', new_reuniao_pauta_path(@reuniao.id) %> <br>

<br>


