<p id="notice"><%= notice %></p>

<h1>Item de Pauta</h1>

<p>
  <strong>Codigo:</strong>
  <%= @pauta.codigo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @pauta.descricao %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @pauta.autor %>
</p>

<%= link_to 'Voltar', @reuniao, :class => "glyphicon glyphicon-arrow-left" %>
<%= link_to 'Editar', edit_reuniao_pauta_path, :class => "glyphicon glyphicon-pencil" %> |
<td><%= link_to 'Excluir', reuniao_pauta_path, method: :delete, data: { confirm: 'Confirma a Exclusão deste item?' }, :class => "glyphicon glyphicon-trash" %></td>