<%= form_for(gerencia) do |f| %>
  <% if gerencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gerencia.errors.count, "error") %> prohibited this gerencia from being saved:</h2>

      <ul>
      <% gerencia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sigla, "Sigla da Gerência:" %>
    <%= f.text_field :sigla, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :descricao, "Descrição:" %>
    <%= f.text_field :descricao %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", :class => "btn btn-default" %>
  </div>
<% end %>
