<p id="notice"><%= notice %></p>

<h1>Gerência</h1>

<p>
  <strong>Sigla:</strong>
  <%= @gerencia.sigla %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @gerencia.descricao %>
</p>

<%= link_to 'Voltar', gerencias_path, :class => "glyphicon glyphicon-arrow-left" %>
<%= link_to 'Editar', edit_gerencia_path, :class => "glyphicon glyphicon-pencil" %> |
<td><%= link_to 'Excluir', gerencia_path, method: :delete, data: { confirm: 'Confirma a Exclusão da gerência?' }, :class => "glyphicon glyphicon-trash" %></td>

