<!DOCTYPE html>
<html>
  <head>
    <title>Reunir</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= image_tag 'logo.jpg', class: 'logo' %>

  	</hr>
  	<%= link_to 'Reuniões', reunioes_path %>
  	<%= link_to 'Gerências', coordreunioes_path %>
  	<%= link_to 'Coordenadores',  gerencias_path %>
  	</hr>


    <%= yield %>
  </body>
</html>
